In [2]:
#First program
print("hello world")

hello world

In [3]:
print("Hello-World")
print("Hello-World")

Hello-World
Hello-World

In [4]:
#To print a statement without a new line, we can use 'end' parameter of the print function

print("Hello-World",end=' ')
print("Hello-World")

Hello-World Hello-World

In [5]:
print("Hello-World",end='')
print("Hello-World")

Hello-WorldHello-World

In [6]:
print("Hello-World",end='#')
print("Hello-World")

Hello-World#Hello-World

In [7]:
# Python variables and literals
# Variables are containers that store data
# Defining a variable
var = 10

In [8]:
print(var)

10

In [9]:
# Changing the variable
var=25
print(var)

25

In [10]:
a = 10
b = 20
c = 30

In [11]:
a,b,c=10,20,30

In [12]:
print(a,b,c)

10 20 30

In [13]:
print(a,b,c,sep='')

102030

In [14]:
print(a,b,c,sep=' ')

10 20 30

In [15]:
print(a,b,c,sep='#')

10#20#30

In [16]:
# Types of literals
#1.Integers
#2.Float
#3.Complex
#4.String
#5.Boolean

In [17]:
# Data types: it tells what type of data we have.

In [18]:
a=10 # Integer
b=10.4 #Float
c='Ethan' #String
d= True #Boolean

In [19]:
#How to check datatypes
# Use type() function

In [20]:
print(type(a))

<class 'int'>

In [21]:
type(b)

float

In [22]:
type(c)

str

In [23]:
type(d)

bool

In [24]:
type(2+4j)

complex

In [25]:
# Type conversion
a = 10
b = 12.5

In [26]:
c=a+b

In [27]:
print(c)

22.5

In [28]:
# here type gets converted automatically, this type of conversion is called implicit conversion
type(c)

float

In [29]:
# here we tell python specifically to convert the data, this type of conversion is called explicit conversion

In [30]:
# int to float
a=10
print(type(a))
a=float(a)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [31]:
# float to integer
a = 10.5
print(type(a))
a=int(a)
print(type(a))

<class 'float'>
<class 'int'>

In [32]:
# String to integer
str_var='12345'
print(type(str_var))
str_var=int(str_var)
print(str_var)
print(type(str_var))

<class 'str'>
12345
<class 'int'>

In [33]:
# Key Points to Remember
# Type Conversion is the conversion of an object from one data type to another data type.
# Implicit Type Conversion is automatically performed by the Python interpreter.
# Python avoids the loss of data in Implicit Type Conversion.
# Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
# In Type Casting, loss of data may occur as we enforce the object to a specific data type.

In [34]:
# Question: Write a program that takes rwo integers as input from user and gives the sum of numbers as o/p

In [35]:
# Taking input from user
a = input("Enter a number")
b = input("Enter a number")
c=a+b
print('sum=',c)

Enter a number4
Enter a number3
sum= 43

In [36]:
# input function takes argument as string, to take the input as integer, we have to typecasting
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c=a+b
print('sum=',c)

Enter a number:4
Enter a number:3
sum= 7

In [37]:
# Python Operators
# Operators: Operators are basic symbols that performs basic operations of varibles and literals.

In [38]:
#1.Arithmatic Operators:
a=10
b=20
c=a+b
print(c)

30

In [39]:
#float value of division
a=5
b=2
c=a/b
print(c)

2.5

In [40]:
#integer value of divison
a=5
b=2
c=a//b
print(c)

2

In [41]:
#to print remainder
a=5
b=2
c=a%b
print(c)

1